* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.main {
    width: 1240px;
    height: 800px;
    overflow: hidden;
    position: relative;
}

.nav-left {
    width: 8%;
    height: 100%;
    float: left;
    background-color: rgb(44, 45, 49);
}

.head {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set {
    margin-top: 450px;
}

.friend-list {
    width: 30%;
    height: 100%;
    float: left;
    /* background-color: yellow; */
}

.chat-window {
    width: 70%;
    height: 100%;
    float: left;
    background-color: rgb(245, 245, 245);
}

.chat {
    position: absolute;
    width: 92%;
    height: 100%;
    top: 0;
    left: 8%;
    background-color: #fff;
}

.zindex2 {
    z-index: 2;
}

.add-friend {
    width: 100%;
    height: 10%;
    /* background-color: red; */
    text-align: center;
}

#friend-id {
    font-size: 15px;
    /* display: inline-block; */
    margin-top: 8%;
}

#add {
    font-size: 15px;
    color: dimgrey;
    background-color: rgb(235, 233, 232);
    border-color: gray;
    /* display: inline-block; */
}

.left-items {
    width: 100%;
    height: 5%;
    text-align: center;
}

.friend-list {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(235, 233, 232);
}

.friend-list-bottom {
    /* margin-top: -10px; */
    width: 100%;
    height: 100%;
    /* background-color: red; */
    list-style: none;
}

.friend-list-bottom li {
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.del {
    width: 30px;
    height: 20px;
    display: none;
    color: rgb(0, 119, 255);
    float: right;
    margin-left: 130px;
    font-size: 10px;
}

.friend-list-bottom li:hover .del {
    display: block;
}

.friend-list-bottom li:hover {
    background-color: rgb(217, 217, 217);
    /* background-color: rgb(202, 200, 198); */
}

.friend-list-bottom li:focus {
    background-color: rgb(202, 200, 198);
    outline: none;
    /* background-color: rgb(202, 200, 198); */
}


/* .clicked {
    background-color: blue;
} */

.friend-head {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    overflow: hidden;
}

.friend-name {
    width: 80%;
    height: 100%;
    /* background-color: gold; */
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
    padding-right: 10%;
    font-size: 18px;
    position: relative;
}

.friend-name span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.friend-name button {
    position: absolute;
    right: 5%;
}

.chat-friend-head {
    width: 100%;
    height: 15%;
    /* background-color: deepskyblue; */
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-head {
    width: 90px;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(233, 228, 230);
}

.chat-friend-name {
    width: 100%;
    height: 15%;
    /* background-color: red; */
    padding-top: 25px;
    text-align: center;
    font-size: 40px;
}

.video-audio {
    width: 100%;
    height: 15%;
    /* background-color: gold; */
    position: relative;
}

.audio-btn {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-image: url("../img/audio.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    /* margin-left: 100px; */
    top: 10%;
    left: 20%;
    position: absolute;
}

.video-btn {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-image: url("../img/video.png");
    background-position: 5px 5px;
    background-repeat: no-repeat;
    /* margin-right: 100px; */
    top: 10%;
    right: 20%;
    position: absolute;
}

.video-audio-name {
    width: 100%;
    height: 15%;
    /* background-color: green; */
    font-size: 30px;
    font-family: YouYuan;
}

.video-audio-name span {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.collect-list {
    z-index: 1;
}

.collect-left {
    list-style: none;
    width: 100%;
    height: 80%;
    margin-top: 20%;
    margin-left: 10%;
    font-size: 15px;
    font-family: Youyuan;
}

.collect-left li {
    height: 10%;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.collect-left li:hover {
    background-color: rgb(217, 217, 217);
    /* background-color: rgb(202, 200, 198); */
}

.collect-left li:focus {
    background-color: rgb(202, 200, 198);
}

.collect-left span {
    display: inline-block;
    margin-left: 10%;
    color: darkslategray;
}

.collect-show {
    position: relative;
}

.collect-show-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.collect-show-top {
    margin-left: 10%;
    margin-top: 10%;
    width: 20%;
    height: 10%;
    background-color: rgb(245, 245, 245);
    font-family: Youyuan;
    font-size: 20px;
}

.collect-show-bottom {
    margin-left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgb(230, 230, 230);
    border-top: 1px solid rgb(75, 69, 69);
}

.set-list {
    z-index: 1;
}

.collect-nav {}

.collect-show {
    /* background-color: gold; */
}

.set-nav {}

.set-show {
    position: relative;
}

.set-show-bottom {
    margin-top: 10%;
    margin-left: 10%;
    border: 0;
}

#quit-login {
    margin-top: 50%;
    margin-left: 20%;
}